Repository yetJunior/guhaejojibsa-backend, pull requests merged in 2023-10, with the labels that each got.

#24 [✅Test] User의 nickname 칼럼 스키마 변경에 대한 테스트 코드 수정
  api/src/test/java/mutsa/api/controller/article/ArticleControllerTest.java
  api/src/test/java/mutsa/api/controller/chatroom/ChatroomControllerTest.java
  api/src/test/java/mutsa/api/controller/order/OrderControllerTest.java
  api/src/test/java/mutsa/api/controller/payment/PaymentControllerTest.java
  api/src/test/java/mutsa/api/controller/review/ReviewControllerTest.java
  api/src/test/java/mutsa/api/repository/ArticleRepositoryTest.java
  api/src/test/java/mutsa/api/repository/OrderRepositoryTest.java
  api/src/test/java/mutsa/api/repository/chatroom/ChatroomUserRepositoryTest.java
  api/src/test/java/mutsa/api/service/article/ArticleServiceTest.java
  api/src/test/java/mutsa/api/service/chatroom/ChatroomServiceTest.java
  api/src/test/java/mutsa/api/service/order/OrderModuleServiceTest.java
  api/src/test/java/mutsa/api/service/order/OrderServiceTest.java
  api/src/test/java/mutsa/api/service/payment/PaymentModuleServiceTest.java
  api/src/test/java/mutsa/api/service/report/ReportModuleServiceTest.java
  api/src/test/java/mutsa/api/service/report/ReportServiceTest.java
  api/src/test/java/mutsa/api/service/review/ReviewModuleServiceTest.java
  api/src/test/java/mutsa/api/service/review/ReviewServiceTest.java
Labels: ♻️refactor, ✅test

#25 [🚀Deploy] 에러수정
  api/src/main/java/mutsa/api/config/security/filter/CustomAuthorizationFilter.java
  api/src/test/java/mutsa/api/controller/article/ArticleControllerTest.java
  api/src/test/java/mutsa/api/controller/chatroom/ChatroomControllerTest.java
  api/src/test/java/mutsa/api/controller/order/OrderControllerTest.java
  api/src/test/java/mutsa/api/controller/payment/PaymentControllerTest.java
  api/src/test/java/mutsa/api/controller/review/ReviewControllerTest.java
  api/src/test/java/mutsa/api/repository/ArticleRepositoryTest.java
  api/src/test/java/mutsa/api/repository/OrderRepositoryTest.java
  api/src/test/java/mutsa/api/repository/chatroom/ChatroomUserRepositoryTest.java
  api/src/test/java/mutsa/api/service/article/ArticleServiceTest.java
  api/src/test/java/mutsa/api/service/chatroom/ChatroomServiceTest.java
  api/src/test/java/mutsa/api/service/order/OrderModuleServiceTest.java
  api/src/test/java/mutsa/api/service/order/OrderServiceTest.java
  api/src/test/java/mutsa/api/service/payment/PaymentModuleServiceTest.java
  api/src/test/java/mutsa/api/service/report/ReportModuleServiceTest.java
  api/src/test/java/mutsa/api/service/report/ReportServiceTest.java
  api/src/test/java/mutsa/api/service/review/ReviewModuleServiceTest.java
  api/src/test/java/mutsa/api/service/review/ReviewServiceTest.java
  common/src/main/java/mutsa/common/BootstrapDataLoader.java
  common/src/main/java/mutsa/common/domain/models/user/User.java
Labels: 🚀deploy

#27 [✨Feature] 결제 영수증 추가
  api/src/main/java/mutsa/api/config/payment/TossPaymentConfig.java
  api/src/main/java/mutsa/api/controller/payment/ReceiptController.java
  api/src/main/java/mutsa/api/dto/payment/PaymentSuccessCardDto.java
  api/src/main/java/mutsa/api/dto/payment/PaymentSuccessDto.java
  api/src/main/java/mutsa/api/dto/payment/ReceiptCardResponseDto.java
  api/src/main/java/mutsa/api/dto/payment/ReceiptResponseDto.java
  api/src/main/java/mutsa/api/service/payment/CardReceiptModuleService.java
  api/src/main/java/mutsa/api/service/payment/CardReceiptService.java
  api/src/main/java/mutsa/api/service/payment/PaymentModuleService.java
  api/src/main/java/mutsa/api/service/payment/ReceiptModuleService.java
  api/src/main/java/mutsa/api/service/payment/ReceiptService.java
  api/src/test/java/mutsa/api/service/payment/PaymentModuleServiceTest.java
  common/src/main/java/mutsa/common/domain/models/payment/CardReceipt.java
  common/src/main/java/mutsa/common/domain/models/payment/Receipt.java
  common/src/main/java/mutsa/common/exception/ErrorCode.java
  common/src/main/java/mutsa/common/repository/payment/CardReceiptRepository.java
  common/src/main/java/mutsa/common/repository/payment/ReceiptRepository.java
Labels: ✨feature

#28 [🐛Fix] security 설정, oauth 부분 수정
  api/src/main/java/mutsa/api/config/oauth2/GoogleOAuth2UserInfo.java
  api/src/main/java/mutsa/api/config/oauth2/HttpCookieOAuth2AuthorizationRequestRepository.java
  api/src/main/java/mutsa/api/config/oauth2/NaverOAuth2UserInfo.java
  api/src/main/java/mutsa/api/config/oauth2/OAuth2Config.java
  api/src/main/java/mutsa/api/config/oauth2/OAuth2UserInfo.java
  api/src/main/java/mutsa/api/config/oauth2/OAuth2UserInfoFactory.java
  api/src/main/java/mutsa/api/config/oauth2/OAuth2UserServiceImpl.java
  api/src/main/java/mutsa/api/config/security/OAuth2SuccessHandler.java
  api/src/main/java/mutsa/api/config/security/OAuth2UserServiceImpl.java
  api/src/main/java/mutsa/api/config/security/SecurityConfig.java
  api/src/main/java/mutsa/api/config/security/filter/CustomAuthorizationFilter.java
  api/src/main/java/mutsa/api/config/socket/StompHandler.java
  api/src/main/java/mutsa/api/controller/user/UserController.java
  api/src/main/java/mutsa/api/dto/user/EmailChangeDto.java
  api/src/main/java/mutsa/api/dto/user/Oauth2InfoUserDto.java
  api/src/main/java/mutsa/api/dto/user/SignUpOAuth2UserDto.java
  api/src/main/java/mutsa/api/dto/user/SignUpUserDto.java
  api/src/main/java/mutsa/api/service/user/UserModuleService.java
  api/src/main/java/mutsa/api/service/user/UserService.java
  api/src/main/java/mutsa/api/util/JwtTokenProvider.java
  api/src/test/java/mutsa/api/controller/auth/AuthControllerTest.java
  api/src/test/java/mutsa/api/controller/user/UserControllerTest.java
  common/src/main/java/mutsa/common/domain/models/user/User.java
  common/src/main/java/mutsa/common/exception/ErrorCode.java
Labels: 🐛fix, ♻️refactor

#31 [✅Test] 결제 영수증 처리 관련 테스트 코드 추가
  api/src/test/java/mutsa/api/controller/payment/ReceiptControllerTest.java
  api/src/test/java/mutsa/api/controller/report/ReportControllerTest.java
  api/src/test/java/mutsa/api/service/payment/CardReceiptModuleServiceTest.java
  api/src/test/java/mutsa/api/service/payment/CardReceiptServiceTest.java
  api/src/test/java/mutsa/api/service/payment/PaymentModuleServiceTest.java
  api/src/test/java/mutsa/api/service/payment/ReceiptModuleServiceTest.java
  api/src/test/java/mutsa/api/service/payment/ReceiptServiceTest.java
  api/src/test/java/mutsa/api/service/report/ReportModuleServiceTest.java
  common/src/main/java/mutsa/common/domain/models/payment/CardReceipt.java
  common/src/main/java/mutsa/common/repository/payment/ReceiptRepository.java
Labels: ✅test

#35 [✅Test] 유저 테스트 코드 추가
  api/src/main/java/mutsa/api/controller/user/UserController.java
  api/src/main/java/mutsa/api/dto/user/Oauth2InfoUserDto.java
  api/src/main/java/mutsa/api/dto/user/ProfileChangeDto.java
  api/src/main/java/mutsa/api/dto/user/SignUpOAuth2UserDto.java
  api/src/main/java/mutsa/api/dto/user/SignUpUserDto.java
  api/src/main/java/mutsa/api/service/user/UserService.java
  api/src/test/java/mutsa/api/config/oauth2/OAuth2UserInfoFactoryTest.java
  api/src/test/java/mutsa/api/controller/auth/AuthControllerTest.java
  api/src/test/java/mutsa/api/controller/user/UserControllerTest.java
  api/src/test/java/mutsa/api/service/user/UserModuleServiceTest.java
  api/src/test/java/mutsa/api/service/user/UserServiceTest.java
Labels: ✅test

#37 [✅Test] Article 테스트 수정 및 레디스 설정 추가
  api/src/main/java/mutsa/api/service/article/ArticleService.java
  api/src/main/java/mutsa/api/service/image/ImageModuleService.java
  api/src/test/java/mutsa/api/config/TestRedisConfiguration.java
  api/src/test/java/mutsa/api/controller/article/ArticleControllerTest.java
Labels: 🐛fix, 🛠️project, ✅test

#39 [♻️Refactor] 게시글 목록 조회시 성능 개선
  api/src/main/java/mutsa/api/service/article/ArticleModuleService.java
  api/src/test/java/mutsa/api/repository/ArticleRepositoryTest.java
  common/src/main/java/mutsa/common/repository/article/ArticleRepositoryCustom.java
  common/src/main/java/mutsa/common/repository/article/ArticleRepositoryImpl.java
Labels: 🐛fix, ♻️refactor, ✅test

#42 [♻️Refactor] 영수증 조회 프론트 추가를 위한 리팩토링
  api/src/main/java/mutsa/api/dto/order/OrderDetailResponseDto.java
  api/src/main/java/mutsa/api/dto/payment/ReceiptApiIdDto.java
  api/src/main/java/mutsa/api/service/order/OrderService.java
  api/src/main/java/mutsa/api/service/payment/ReceiptModuleService.java
  api/src/main/java/mutsa/api/service/payment/ReceiptService.java
  api/src/test/java/mutsa/api/controller/order/OrderControllerTest.java
  api/src/test/java/mutsa/api/service/order/OrderServiceTest.java
  common/src/main/java/mutsa/common/repository/payment/PaymentRepository.java
Labels: ♻️refactor, ✅test

#46 [📝Docs] 백엔드 ReadMe.md 수정
  README.md
  docs/deploy-ver1.png
  docs/deploy-ver2.png
Labels: 📝docs

#48 [🚀Deploy] 백엔드 배포 스크립트 수정
  .github/workflows/deploy.yml
  .gitignore
  api/src/main/resources/application-dev.yml
  api/src/main/resources/application-local.yml
  gradle/wrapper/gradle-wrapper.jar
  gradlew
Labels: 🛠️project, 🚀deploy

#52 [✨Feature] 게시글 판매/구매 태그, 기간 추가
  README.md
  api/src/main/java/mutsa/api/dto/article/ArticleCreateRequestDto.java
  api/src/main/java/mutsa/api/dto/article/ArticlePageResponseDto.java
  api/src/main/java/mutsa/api/dto/article/ArticleResponseDto.java
  api/src/main/java/mutsa/api/dto/article/ArticleUpdateRequestDto.java
  api/src/main/java/mutsa/api/dto/image/ImagesRequestDto.java
  api/src/main/java/mutsa/api/service/article/ArticleModuleService.java
  api/src/test/java/mutsa/api/controller/article/ArticleControllerTest.java
  api/src/test/java/mutsa/api/repository/ArticleRepositoryTest.java
  api/src/test/java/mutsa/api/service/article/ArticleServiceTest.java
  common/src/main/java/mutsa/common/BootstrapDataLoader.java
  common/src/main/java/mutsa/common/domain/models/article/Article.java
  common/src/main/java/mutsa/common/domain/models/article/ArticleType.java
Labels: ✨feature, ♻️refactor

#54 [♻️Refactor] 유저 캐싱 기능 수정
  api/docker-compose.yml
  api/src/main/java/mutsa/api/config/redis/RedisConfig.java
  api/src/main/java/mutsa/api/config/security/CustomPrincipalDetails.java
  api/src/main/java/mutsa/api/config/security/OAuth2SuccessHandler.java
  api/src/main/java/mutsa/api/dto/LoginResponseDto.java
  api/src/main/java/mutsa/api/dto/auth/AccessTokenResponse.java
  api/src/main/java/mutsa/api/dto/auth/TokenDto.java
  api/src/main/java/mutsa/api/service/user/UserModuleService.java
  api/src/main/java/mutsa/api/service/user/UserService.java
  api/src/main/java/mutsa/api/util/CookieUtil.java
  api/src/main/java/mutsa/api/util/JwtTokenProvider.java
  common/src/main/java/mutsa/common/BootstrapDataLoader.java
  common/src/main/java/mutsa/common/domain/models/user/Role.java
  common/src/main/java/mutsa/common/domain/models/user/RoleDeserializer.java
  common/src/main/java/mutsa/common/domain/models/user/User.java
  common/src/main/java/mutsa/common/domain/models/user/UserRole.java
  common/src/main/java/mutsa/common/dto/user/UserInfoDto.java
  common/src/main/java/mutsa/common/repository/image/ImageRepository.java
  common/src/main/java/mutsa/common/repository/user/CustomUserRepository.java
  common/src/main/java/mutsa/common/repository/user/CustomUserRepositoryImpl.java
  common/src/main/java/mutsa/common/repository/user/RoleRepository.java
  common/src/main/java/mutsa/common/repository/user/UserRepository.java
  common/src/main/java/mutsa/common/repository/user/UserRoleRepository.java
Labels: ♻️refactor
